@{
    ViewBag.Title = "About";
    Layout = null;
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/css/MyStyle.css" rel="stylesheet" />
<link href="~/Content/css/assets/style.css" rel="stylesheet" />*@

@*<div id="particles-js">


    </div>*@


<div class="container-fluid " style="display: block;background-color:white">
    <div class="row" style="margin-top:10%">
        <div class="col-md-6">

           
            <a style="float:right" href="~/Home/Contact" class="mb-2 mr-2 btn-square btn-hover-shine btn btn-dark" target="_blank">
        <span style="font-size: 50px">Propertica</span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="~/Home/Contact" class="mb-2 mr-2 btn-square btn-hover-shine btn btn-dark" target="_blank">
                <span style="font-size: 50px">HappyHunger</span>
            </a>
        </div>
    </div>
</div>

@*<script src="~/Scripts/Canvas/particles.js"></script>
<script src="~/Scripts/Canvas/app.js"></script>
<script src="~/Scripts/Canvas/stats.js"></script>
<script src="~/Scripts/MyScript.js"></script>*@
