@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_LoginView.cshtml";
    Layout = null;
}

<link href="~/Content/css/assets/util.css" rel="stylesheet" />

@*style="background-image: url(~/Content/css/Images/5.jpg);*@
<style>
    .sdf {
        background-image:url(Content/css/Images/5.jpg)
    }
</style>
<div class="bg-img1 size1 flex-w flex-c-m p-t-55 p-b-55 p-l-15 p-r-15 sdf">
    <div class="wsize1 bor1 bg1 p-t-175 p-b-45 p-l-15 p-r-15 respon1" style="padding-left: 5px;margin-left: 0px;padding-top: 15px;padding-right: 15px;">
        <div class="wrappic1">
            <a href="www.shayncompany.com" class="txt-center m1-txt1 " style="color: black;">
                WWW.SHAYANCOMPANY.COM
            </a>
        </div>
        <p class="txt-center m1-txt1 p-t-33 p-b-68" style="color: black;">
            Our website is under construction<br>Coming Soon
        </p>
        <div class="wrap txt-center ">
            <img src="~/Content/css/Images/shayan.png" alt="noimage" style="width:200px;">
        </div>
        <p class="s1-txt4 txt-center p-t-10" style="color: black;">
            <b>ADDRESS:</b>38 A/5, Happy Homes, Shayan Lane, Main Gulberg Lahore, Pakistan<br>
            <b><a href="live/index.html" style="color: black;">CONTACT NO:</a></b> 0300 4233755 OFFICE <b>EMAIL:</b> mail@shayan.pk
            <a href="~/Home/About"><br><b>LANDLINE:</b>(042)35750171</a>
        </p>
       
    </div>
</div>





@*<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-32">
                        Account Login
                    </span>

                    <span class="txt1 p-b-11">
                        Username
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
                        Password
                    </span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">

                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>*@